<!DOCTYPE html>
<html ng-app="myApp" lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="public/assets/styles/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" ></script>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="public/assets/js/app.js" ></script>
</head>
<body>
<div class="content" ng-controller="leafletMapCtrl as map">
    <h1>Создать маршрут</h1>

    <leaflet-map ng-model="map.coordinates"></leaflet-map>

    <button class="btn-blue" ng-click="map.submitRoute()">Сохранить</button>

</div>
</body>
</html>